In [2]:
import pandas as pd

df_home = pd.read_csv('./data/home_page_table.csv')
df_payment_confirm = pd.read_csv('./data/payment_confirmation_table.csv')
df_payment_page = pd.read_csv('./data/payment_page_table.csv')
df_search = pd.read_csv('./data/search_page_table.csv')
df_user_data = pd.read_csv('./data/user_table.csv')

In [47]:
from functools import reduce; 

def mergedf(df_list, on_col, how_join):
    df = reduce(lambda left,right: pd.merge(left, right, on=on_col, how=how_join), df_list)
    return df

df = mergedf([df_home, df_payment_confirm, df_payment_page, df_search, df_user_data], 'user_id', 'outer')
print(df.head(10))
df = pd.melt(df, id_vars=['user_id', 'date', 'device', 'sex'], value_name='page').drop(['variable'],axis=1)
print(df.head(10))

   user_id     page_x page_y page_x       page_y        date   device     sex
0   313593  home_page    NaN    NaN          NaN  2015-02-26  Desktop  Female
1   468315  home_page    NaN    NaN          NaN  2015-02-21  Desktop    Male
2   264005  home_page    NaN    NaN          NaN  2015-03-25  Desktop  Female
3   290784  home_page    NaN    NaN          NaN  2015-03-14  Desktop    Male
4   639104  home_page    NaN    NaN  search_page  2015-01-03  Desktop  Female
   user_id     page_x page_y page_x       page_y        date   device     sex
0   313593  home_page    NaN    NaN          NaN  2015-02-26  Desktop  Female
1   468315  home_page    NaN    NaN          NaN  2015-02-21  Desktop    Male
2   264005  home_page    NaN    NaN          NaN  2015-03-25  Desktop  Female
3   290784  home_page    NaN    NaN          NaN  2015-03-14  Desktop    Male
4   639104  home_page    NaN    NaN  search_page  2015-01-03  Desktop  Female

In [40]:
GROUP_KEY = 'user_id'
TIME_FIELD = 'date'
EVENT_FIELD = 'page'
FUNNEL_STEPS = ['home_page', 'search_page', 'payment_page', 'payment_confirmation_page']


def funnelize(group, funnel_steps):
    curr = 0
    funnel_cts = [0 for s in funnel_steps]

    for i, row in group.iterrows():
        evt = row[EVENT_FIELD]
        if evt in funnel_steps:
            idx = funnel_steps.index(evt)
            if idx <= curr + 1:
                funnel_cts[idx] += 1
                curr = idx
        
    return funnel_cts


# sort event dataset by time
df.sort_values(by=EVENT_FIELD, ascending=True, inplace=True)

# step through events by group_key (i.e., browser, visit), 
# and increment event counts by funnel step if prior funnel steps occurred
funnel_cts = df.groupby(GROUP_KEY).apply(funnelize, FUNNEL_STEPS)

# format results as a dataframe
funnel = pd.DataFrame(list(funnel_cts.values), index=funnel_cts.index, columns=FUNNEL_STEPS)

funnel.head()

         home_page  search_page  payment_page  payment_confirmation_page
user_id
17               1            1             0                          0
28               1            0             0                          0
37               1            1             0                          0
38               1            1             0                          0
55               1            0             0                          0

In [41]:
# funnel summary (aggregate)

print (funnel.agg(FUNNEL_STEPS))

ValueError: no results

In [36]:
# funnel summary, deduped across group key 
# (i.e., event occurrences become 1/0 indicators instead of counts)

funnel_norm = funnel.copy()
funnel_norm[funnel_norm != 0] = 1
print funnel_norm[FUNNEL_STEPS].sum()

SyntaxError: invalid syntax (<ipython-input-36-cebcf02eeb69>, line 6)

In [37]:
import plotly as py
import plotly.graph_objs as go
 
from __future__ import division