In [2]:
import pandas as pd
import numpy as np

In [3]:
df_meta_data = pd.read_csv('metadata-users.csv')
df_meta_data.head()

,User ID,GENDER,AGE,WORKING,REGION,Hours Listening to Music
0,36927,Female,60.0,Other,South,1 hour
1,3566,Female,36.0,Full-time housewife / househusband,South,1 hour
2,20054,Female,52.0,Employed 30+ hours a week,Midlands,1 hour
3,41749,Female,40.0,Employed 8-29 hours per week,South,2 hours
4,23108,Female,16.0,Full-time student,North,3 hours

In [4]:
df_test = pd.read_csv('test.csv')
df_test.head()

   User  Track
0   466      0
1  1173      0
2   566      1
3    49      3
4   772      3

In [5]:
df_train = pd.read_csv('train.csv')
df_train.head()

   User  Track  Rating
0     1      0      27
1     4      0      10
2     8      0      30
3    10      0      30
4    11      0      14

In [6]:
#Import the train_test_split function
from sklearn.model_selection import train_test_split

#Assign X as the original ratings dataframe and y as the user_id column of ratings.
X = df_train.copy()
y = df_train['User']

#Split into training and test datasets, stratified along user_id
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=42)

In [7]:
from sklearn.linear_model import LinearRegression

#instantiate
linearreg = LinearRegression()
linearreg.fit(X_train, y_train)

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/base.py:509: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  linalg.lstsq(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [8]:
#prints y intercept
print(linearreg.intercept_)

#prints beta coeff in the same order as passed
print(linearreg.coef_)

-7.275957614183426e-12
[ 1.00000000e+00 -1.30798150e-15  1.18871926e-15]

In [9]:
y_pred = linearreg.predict(X_test)

In [10]:
#import metrics library
from sklearn import metrics

#print result of rmse
print(format(np.sqrt(metrics.mean_squared_error(y_test, y_pred)), '.15f'))

0.000000000003575