In [1]:
import pandas as pd
import numpy as np

In [2]:
df_meta_data = pd.read_csv('all/metadata-users.csv')

In [3]:
df_meta_data.head(5)

,User ID,GENDER,AGE,WORKING,REGION,Hours Listening to Music
0,36927,Female,60.0,Other,South,1 hour
1,3566,Female,36.0,Full-time housewife / househusband,South,1 hour
2,20054,Female,52.0,Employed 30+ hours a week,Midlands,1 hour
3,41749,Female,40.0,Employed 8-29 hours per week,South,2 hours
4,23108,Female,16.0,Full-time student,North,3 hours

In [4]:
df_train = pd.read_csv('all/train.csv')

In [8]:
df_train = df_train[0:10000]
df_train.shape

(10000, 3)

In [9]:
df_artist = pd.read_csv('all/Artist.csv')

In [10]:
df_artist.head(5)

   Artist  Track
0      40    179
1       9     23
2      46    168
3      11    153
4      14     32

In [11]:
df_test = pd.read_csv('all/test.csv')

In [12]:
df_test.head(5)

   User  Track
0   466      0
1  1173      0
2   566      1
3    49      3
4   772      3

In [13]:
data_matrix = df_train.pivot(index='User', columns='Track', values='Rating').fillna(0)
data_matrix.shape

(5445, 10)

In [14]:
from sklearn.metrics.pairwise import pairwise_distances 
user_similarity = pairwise_distances(data_matrix, metric='cosine')

In [15]:
user_similarity.shape

(5445, 5445)

In [16]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        # You use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = ratings.sub(mean_user_rating, axis=0)
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array(
            [np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [17]:
user_prediction = predict(data_matrix, user_similarity, type='user')

In [18]:
user_prediction.shape

(5445, 10)

In [19]:
def rmse(prediction, ground_truth):
    prediction = prediction[ground_truth.nonzero()].flatten()
    ground_truth = ground_truth[ground_truth.nonzero()].flatten()
    return sqrt(mean_squared_error(prediction, ground_truth))

In [30]:
test_data = df_test.groupby(['User','Track']).size().unstack(fill_value=0)

In [32]:
print ('User-based CF RMSE: ' + str(rmse(user_prediction, test_data.as_matrix())))

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

IndexError: index 5445 is out of bounds for axis 0 with size 5445