In [20]:
from surprise import BaselineOnly
import pandas as pd
from surprise import NormalPredictor
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate
from surprise import Dataset, evaluate
from surprise import KNNBasic
from surprise import SVD
from surprise.model_selection import KFold

df = pd.read_csv('train.csv')

reader = Reader(rating_scale=(1, 100))
data = Dataset.load_from_df(df[['User', 'Track', 'Rating']], reader)
trainingSet = data.build_full_trainset()

In [2]:
print(data)

<surprise.dataset.DatasetAutoFolds object at 0x10ed0beb8>

In [3]:
df.head()

   User  Track  Rating
0     1      0      27
1     4      0      10
2     8      0      30
3    10      0      30
4    11      0      14

In [4]:
dt = pd.read_csv('test.csv')

In [5]:
dt.head()

   User  Track
0   466      0
1  1173      0
2   566      1
3    49      3
4   772      3

In [21]:
sim_options = {
    'name': 'cosine',
    'user_based': True
}
 
#algo = KNNBasic(sim_options=sim_options)
algo=SVD()

kf = KFold(n_splits=3)

for trainset, testset in kf.split(data):

    # train and test algorithm.
    algo.fit(trainingSet)
    predictions = algo.test(testset)

#algo.fit(trainingSet)

In [22]:

result=[]
id=[]

for index, row in dt.iterrows():
    id.append(str((row['User']))+'-'+str((row['Track'])))
    result.append(algo.predict(row['User'], row['Track']).est)

In [23]:
result=pd.DataFrame({'ID':pd.Series(id),'Rating':pd.Series(result)})

In [24]:
print(result)

              ID     Rating
0          466-0  52.913016
1         1173-0  42.722982
2          566-1  37.280713
3           49-3  33.969137
4          772-3  23.494752
5         1068-3  34.352069
6         1534-3  28.460681
7      39132-150  31.150712
8      39671-150  54.229392
9      40638-150  32.306865
10     40715-150  33.725078
11     40843-150  14.935972
12     40742-151  37.146428
13        2902-4  50.333328
14        2087-6  31.786587
15        2736-6  12.964159
16        3699-6  32.281369
17        2132-7  13.337610
18        4554-7  32.195650
19        4566-7  37.296858
20        2075-8  30.925424
21        4648-8  33.051873
22        4955-8  40.017424
23      24180-69  25.327693
24      24711-69   8.350005
25      21545-70  14.119213
26      21549-70  52.714358
27      24174-70  66.480132
28      24906-70  50.285932
29     47507-173  18.086773
...          ...        ...
31115  50670-179  32.179795
31116  47551-180  28.890238
31117  49131-180  50.085348
31118  50568-180  12.197212
31119  50711-181  45.763082
31120  41478-155  15.317350
31121  42390-155  69.941036
31122  41402-156  66.656610
31123  43266-157  83.728749
31124  41402-158  46.671760
31125  42998-159  48.081641
31126  41651-161  26.432452
31127  43217-161  50.556735
31128  42418-162  54.188317
31129  43651-164  35.445558
31130  44074-165  45.821673
31131  45498-165  31.093617
31132  43334-166  43.510484
31133  43551-167  49.574708
31134  44080-167  26.099042
31135  44921-167  20.863948
31136  44134-168  15.768316
31137  44142-168  41.325928
31138  45418-169  33.409272
31139  45868-170  45.851874
31140  46567-170  13.962328
31141  46298-171  26.425493
31142  47876-172  41.199092
31143  48004-172  32.138314
31144  50143-182  48.106399

[31145 rows x 2 columns]

In [18]:
result.to_csv('Results.csv',index=False)