In [2]:
import pandas as pd

df_home = pd.read_csv('./data/home_page_table.csv')
df_payment_confirm = pd.read_csv('./data/payment_confirmation_table.csv')
df_payment_page = pd.read_csv('./data/payment_page_table.csv')
df_search = pd.read_csv('./data/search_page_table.csv')
df_user_data = pd.read_csv('./data/user_table.csv')

In [61]:
from functools import reduce; 

def mergedf(df_list, on_col, how_join):
    df = reduce(lambda left,right: pd.merge(left, right, on=on_col, how=how_join), df_list)
    return df

df = mergedf([df_home, df_payment_confirm, df_payment_page, df_search, df_user_data], 'user_id', 'outer')
print(df.head(10))
df = pd.melt(df, id_vars=['user_id', 'date', 'device', 'sex'], value_name='page').drop(['variable'],axis=1)
print(df)

   user_id     page_x page_y page_x       page_y        date   device     sex
0   313593  home_page    NaN    NaN          NaN  2015-02-26  Desktop  Female
1   468315  home_page    NaN    NaN          NaN  2015-02-21  Desktop    Male
2   264005  home_page    NaN    NaN          NaN  2015-03-25  Desktop  Female
3   290784  home_page    NaN    NaN          NaN  2015-03-14  Desktop    Male
4   639104  home_page    NaN    NaN  search_page  2015-01-03  Desktop  Female
5   262889  home_page    NaN    NaN          NaN  2015-01-10   Mobile    Male
6   708793  home_page    NaN    NaN          NaN  2015-04-24   Mobile  Female
7   943143  home_page    NaN    NaN  search_page  2015-04-10  Desktop    Male
8   417894  home_page    NaN    NaN          NaN  2015-04-02   Mobile  Female
9   729374  home_page    NaN    NaN  search_page  2015-04-12  Desktop    Male
        user_id        date   device     sex         page
0        313593  2015-02-26  Desktop  Female    home_page
1        468315  2015-02-21  Desktop    Male    home_page
2        264005  2015-03-25  Desktop  Female    home_page
3        290784  2015-03-14  Desktop    Male    home_page
4        639104  2015-01-03  Desktop  Female    home_page
5        262889  2015-01-10   Mobile    Male    home_page
6        708793  2015-04-24   Mobile  Female    home_page
7        943143  2015-04-10  Desktop    Male    home_page
8        417894  2015-04-02   Mobile  Female    home_page
9        729374  2015-04-12  Desktop    Male    home_page
10       188061  2015-03-28   Mobile  Female    home_page
11       899940  2015-01-10  Desktop    Male    home_page
12       351103  2015-04-30   Mobile    Male    home_page
13       361882  2015-03-04   Mobile    Male    home_page
14       899516  2015-04-20  Desktop    Male    home_page
15        99215  2015-02-04   Mobile  Female    home_page
16       594691  2015-03-31  Desktop    Male    home_page
17       432943  2015-01-22   Mobile    Male    home_page
18       364893  2015-04-27   Mobile    Male    home_page
19       654707  2015-01-23  Desktop    Male    home_page
20       272192  2015-02-03   Mobile  Female    home_page
21       396024  2015-03-24  Desktop    Male    home_page
22       369723  2015-02-24  Desktop    Male    home_page
23       438763  2015-01-07  Desktop    Male    home_page
24       223223  2015-02-23  Desktop  Female    home_page
25       140078  2015-04-27   Mobile  Female    home_page
26        96742  2015-04-05  Desktop    Male    home_page
27        74432  2015-02-17  Desktop    Male    home_page
28       819741  2015-04-14  Desktop  Female    home_page
29       664153  2015-03-02  Desktop    Male    home_page
...         ...         ...      ...     ...          ...
361570   316590  2015-03-14   Mobile    Male  search_page
361571   605332  2015-03-24  Desktop  Female          NaN
361572   787726  2015-04-15   Mobile  Female          NaN
361573   154945  2015-01-03  Desktop    Male          NaN
361574   442757  2015-04-20   Mobile    Male          NaN
361575    24523  2015-02-18  Desktop    Male          NaN
361576    93920  2015-03-12  Desktop    Male  search_page
361577   778498  2015-03-10   Mobile  Female          NaN
361578   990390  2015-01-12  Desktop    Male          NaN
361579   577786  2015-04-21  Desktop    Male          NaN
361580   336714  2015-01-04   Mobile    Male  search_page
361581   869523  2015-03-16  Desktop  Female          NaN
361582   952004  2015-02-19   Mobile    Male  search_page
361583   907572  2015-04-13  Desktop    Male  search_page
361584   527712  2015-04-14   Mobile  Female          NaN
361585    88921  2015-03-14  Desktop  Female  search_page
361586   836673  2015-02-06   Mobile  Female  search_page
361587   898306  2015-01-02  Desktop  Female  search_page
361588   529322  2015-02-21   Mobile    Male          NaN
361589   608818  2015-02-05  Desktop  Female  search_page
361590   845758  2015-02-15  Desktop    Male  search_page
361591   272782  2015-01-23   Mobile  Female  search_page
361592   815516  2015-04-05  Desktop  Female  search_page
361593   582615  2015-01-16  Desktop  Female          NaN
361594   166121  2015-01-05  Desktop    Male  search_page
361595   456851  2015-03-16   Mobile    Male          NaN
361596   128619  2015-04-16  Desktop    Male  search_page
361597   167290  2015-03-29  Desktop  Female          NaN
361598   437765  2015-04-27  Desktop    Male          NaN
361599   337840  2015-02-07  Desktop    Male          NaN

[361600 rows x 5 columns]

In [65]:
GROUP_KEY = 'user_id'
TIME_FIELD = 'date'
EVENT_FIELD = 'page'
FUNNEL_STEPS = ['home_page', 'search_page', 'payment_page', 'payment_confirmation_page']


def funnelize(group, funnel_steps):
    curr = 0
    funnel_cts = [0 for s in funnel_steps]

    for i, row in group.iterrows():
        evt = row[EVENT_FIELD]
        if evt in funnel_steps:
            idx = funnel_steps.index(evt)
            if idx <= curr + 1:
                funnel_cts[idx] += 1
                curr = idx
        
    return funnel_cts


# sort event dataset by time
df.sort_values(by=GROUP_KEY, ascending=True, inplace=True)

# step through events by group_key (i.e., browser, visit), 
# and increment event counts by funnel step if prior funnel steps occurred
funnel_cts = df.groupby(GROUP_KEY).apply(funnelize, FUNNEL_STEPS)

# format results as a dataframe
funnel = pd.DataFrame(list(funnel_cts.values), index=funnel_cts.index, columns=FUNNEL_STEPS)

funnel.head()

         home_page  search_page  payment_page  payment_confirmation_page
user_id
17               1            1             0                          0
28               1            0             0                          0
37               1            1             0                          0
38               1            1             0                          0
55               1            0             0                          0

In [66]:
# funnel summary (aggregate)

print (funnel[FUNNEL_STEPS].sum())

home_page                    90400
search_page                  45200
payment_page                  2082
payment_confirmation_page       46
dtype: int64

In [67]:
# funnel summary, deduped across group key 
# (i.e., event occurrences become 1/0 indicators instead of counts)

funnel_norm = funnel.copy()
funnel_norm[funnel_norm != 0] = 1
print (funnel_norm[FUNNEL_STEPS].sum())

home_page                    90400
search_page                  45200
payment_page                  2082
payment_confirmation_page       46
dtype: int64

In [68]:
import plotly as py
import plotly.graph_objs as go
 
from __future__ import division